.header {
  padding: 10px;
  height: 50px;
  background-color: var(--primary-color);
  flex-wrap: wrap;

  .toggle-btn {
    background-color: var(--accent-color-light);
  }

  &__right-section {
    display: flex;
    gap: 10px;
  }
}
