<header class="header flex-row space-between flex-wrap">
  @if (currentUser()) {
    <div class="header__left-section flex-row">
      <button class="toggle-btn" mat-icon-button matTooltip="Toggle menu">
        <mat-icon> menu </mat-icon>
      </button>
    </div>
    <div class="header__right-section">
      <div class="form-field flex-col">
        <mat-form-field class="company-select-field">
          <mat-select placeholder="Select company">
            @for (company of companies(); track company.id) {
              <mat-option [value]="company.id">
                {{ company.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <button
        class="toggle-btn"
        [matMenuTriggerFor]="settingsMenu"
        mat-icon-button
        matTooltip="Settings"
      >
        <mat-icon> settings </mat-icon>
      </button>
    </div>
  }
</header>

<mat-menu #settingsMenu>
  <button mat-menu-item (click)="viewOrganization()">
    <mat-icon> corporate_fare </mat-icon>
    Organization
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon> logout </mat-icon>
    Logout
  </button>
</mat-menu>
