[data-theme='blue-porcelain'] {
  --primary-color: #344966;
  --secondary-color: #B4CDED;
  --accent-color-light: #FFFBFC;
  --accent-color-dark: #0D1821;

  // Form Field
  --form-field-background-color: #FFFBFC;
};
