[data-theme='blue-porcelain'] {
  --primary-color: #344966;
  --secondary-color: #b4cded;
  --accent-color-light: #fffbfc;
  --accent-color-dark: #0d1821;

  // Form Field
  --form-field-background-color: #fffbfc;
}
