.card {
  width: 500px;
  &__title {
    font-weight: 500;
    font-size: 25px;
    color: var(--primary-color);
  }
  &__header,
  &__actions {
    padding: 16px 16px 16px;
  }
  &__title,
  &__subtitle {
    margin: 10px;
  }
}


@media (max-width: 550px) {
  .card {
    width: unset;
  }
}
