.stepper {
  padding: 30px;
  display: flex;
  justify-content: center;
  &__steps-container {
    flex: 1;
  }
  &__form-container {
    flex: 2;
  }

  .selected-item-icon {
    color: var(--accent-color-light);
  }
}

@media (max-width: 850px) {
  .stepper {
    flex-wrap: wrap;
  }
}
