@use '@angular/material' as mat;
@use 'assets/styles/mixins' as mixins;
@use 'assets/styles/mat-rewritten-classes' as mat-rewritten;
// Themes
@use 'assets/styles/themes/blue-porcelain.theme' as blue-porcelain-theme;

:root {
  // General UI
  --primary-color: #344966;
  --secondary-color: #b4cded;
  --accent-color-light: #fffbfc;
  --accent-color-dark: #0d1821;

  // Form Field
  --form-field-background-color: #fffbfc;

  --error-color: #cb0000;
  --success-color: #67c23a;
  --warng-color: #f9bb31;
  --info-color: #006cc5;
}

// mixins

.flex-row {
  @include mixins.flex-row;
}

.flex-row-10 {
  @include mixins.flex-row(10px);
}

.flex-col {
  @include mixins.flex-col;
}

.space-between {
  @include mixins.space-between;
}

.space-evenly {
  @include mixins.space-evenly;
}

.space-around {
  @include mixins.space-around;
}

.justify-center {
  @include mixins.center;
}

.flex-wrap {
  @include mixins.flex-wrap;
}

// Universal classes
.form-field-group {
  @include mixins.flex-row(10px);
  @include mixins.space-between;
}

.form-field {
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 550px) {
  .form-field-group {
    @include mixins.flex-wrap;
  }
}
