// Background color change
.mat-mdc-text-field-wrapper {
  background-color: var(--form-field-background-color) !important;
}

// Company select located in header section
.company-select-field {
  .mat-mdc-text-field-wrapper {
    height: 40px !important;
    border-radius: 25px !important;
  }
  .mdc-line-ripple, .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 10px !important;
  }
}
