@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin flex-col($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin center {
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  align-items: center;
  justify-content: space-between;
}

@mixin space-evenly {
  align-items: center;
  justify-content: space-evenly;
}

@mixin space-around {
  align-items: center;
  justify-content: space-around;
}
